<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jacob</title>
</head>
<body>
<h3> 格式转化工具 </h3>
<form name="form2" action="" method="post" enctype="text/plain">
    <table width="20%" border="1" bordercolorlight="#000000" bordercolordark="#FFFFFF" bgcolor="#CCFFCC" cellpadding="4"
           align="left">
        <tr>
            <td colspan="2">
                <div align="center"><b>格式转化工具</b></div>
            </td>
        </tr>
        <tr>
            <td>原字符串： <input type="text" name="textfield" size="50"></td>

        </tr>
        <tr>
            <td>
                <select>
                    <option>去除空格</option>
                    <option>字符串转hex</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <div align="left"><input type="submit" name="Submit" value="执行操作"></div>
            </td>
        </tr>
    </table>
</form>
</body>
</html>